@import "bootstrap.min.css";

/*---------------------------------------------------------------- */
img,
iframe,
video,
svg {
    display: block;
    max-width: 100%;

}


body {
  font-size: 100%;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

h1{
  font-size: 3.3em;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.4em;
  font-weight: 400;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2.0em;
}

ul, dl, dd, dt {
      margin: 0;
      padding: 0;
  }


.menu-container {
  background: #2f4879;
  padding: 1em 0;

}

.hub_buttons {
  width: 100%;
  color: #ffffff;
  background-color: #2f4879;

}
