@import "bootstrap.min.css";

/*---------------------------------------------------------------- */
img,
iframe,
video,
svg {
    display: block;
    max-width: 100%;

}


body {
  font-size: 90%;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

h1{
  font-size: 3.3em;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.4em;
  font-weight: 400;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2.0em;
