@import "bootstrap.min.css";

---------------------------------------------------------------- */
img,
iframe,
video,
svg {
    display: block;
    max-width: 100%;

}


@@-0,0 +1,21@@
body {
  font-size: 62.5%;
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Helvetica+Neue">

}

h1, h2, h3 {
  font-family:'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 2.4em;
}

h2 {
  font-family:'Source Sans Pro', sans-serif;
  font-size: 2.2em;
  font-weight: 400;
}

h3 {
  font-family:'Source Sans Pro', sans-serif;
  font-size: 2em;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.6em;
